.allMovies {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #e65100;
    width: 100%;
}
.dark {
    background-color: #343434;
}
.light {
    background-color: #ffffff;
}